fastapi
uvicorn[standard]
pymongo
motor
python-dotenv
pandas
numpy
scikit-learn
joblib
lightgbm
resend
# auth and validation dependencies
passlib[bcrypt]
bcrypt==4.0.1
PyJWT[crypto]
email-validator
pydantic[email]
catboost


fastapi==0.104.1
uvicorn==0.24.0
python-dotenv==1.0.0
pymongo==4.6.0
pydantic==2.5.0
pydantic-settings==2.1.0